
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f6f5ff;
}

/* NAVBAR */
.navbar {
    background-color: rgb(44, 82, 82) !important;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .logo a {
    text-decoration: none;
    color: white;
}

.navbar .logo a:hover {
    color: darkseagreen; 
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}
.navbar .nav-links a:hover,
.navbar .nav-links .active {
    color: darkseagreen; 
}

/* FORM */
.form-container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.7s ease-in-out;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
}
.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.input-group label {
    margin-bottom: 5px;
    font-weight: 600;
}
.input-group input,
.input-group select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: rgb(44, 82, 82);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background: darkseagreen; 
}

.submit-btn a{
    text-decoration: none;
    color: white;
}

.submit-btn a:hover{
    text-decoration: none;
    color: rgb(44, 82, 82);;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
