body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-bg {
    background-color: rgba(31, 75, 75, 0.9);
}

.nav-link {
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.navbar-brand :hover {
    color: darkseagreen !important;
}

.nav-link:hover {
    opacity: 0.7;
    color: darkseagreen !important;
}

.nav .a{
    text-decoration: none;
    color: inherit;
}
.nav .a:hover {
    color: darkseagreen;
}

.hero-bg {
    min-height: 100vh;
    height: calc(100vh - 70px);  
    background: linear-gradient(135deg, rgba(78, 179, 179, 0.664), rgba(46, 107, 107, 0.9)),
                url("../assets/images/students.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.login-card {
    width: 380px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}

.login-btn {
    background-color: #1f4b4b;
    color: #fff;
}

.login-btn:hover {
    opacity: 0.9;
    background: darkseagreen;
}

.register-link {
    color: #1f4b4b;         
    font-weight: 600;        
    text-decoration: none;   
    margin-left: 5px;        
}

.register-link:hover {
    color: #0f2f2f;          
    text-decoration: underline; 
    transition: all 0.3s ease; 
}

a {
    text-decoration: none;
    color: inherit;
}